doctype html
html(lang="en")
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='/static/default/bootstrap/bootstrap.min.css', rel='stylesheet')
		script(src='/static/default/bootstrap/jquery-2.2.4.min.js')
		script(src='/static/default/bootstrap/bootstrap.min.js')
		script(src='/static/default/admin/admin.js')
	body
		.container
			| !{pageData}
