link(href='/staticAdmin/default/navigation/navigation.css', rel='stylesheet')
link(href='/staticAdmin/default/navigation/nestable.css', rel='stylesheet')
script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js")
script(src="/staticAdmin/default/navigation/jquery.nestable.js")
script.
	$( function() {
		//- $( "#navigation, #pages" ).sortable({
		//- 	connectWith: ".dragger"
		//- }).disableSelection();
		$('.dd').nestable({});
	} );
h1 Configure your navbar!

- var navigation = site.settings.navigation

mixin parseList(nav)
	ol.dd-list
		each val in nav
			li.dd-item.dd3-item(data-id='13')
				.dd-handle.dd3-handle
				a.dd3-content(href='#')
					span= val.title || val.name
					span  (
					span= val.url
					span )
				if( val.children )
					+parseList(val.children)
- var error = typeof navigation == 'string'
if( error )
	h1 Error parsing navigation
else
	#nnavigation.dd
		+parseList(navigation)
- var error = typeof pages == 'string'
if( error )
	h1 Error parsing pages
else
	#npages.dd
		+parseList(pages)
