script(src="/staticAdmin/default/codemirror/codemirror.js")
script(src="/staticAdmin/default/codemirror/theme/sublime.js")
script(src="/staticAdmin/default/codemirror/theme/javascript.js")
script(src="/staticAdmin/default/codemirror/theme/pug.js")
link(rel="stylesheet" href="/staticAdmin/default/codemirror/codemirror.css")
link(rel="stylesheet" href="/staticAdmin/default/codemirror/theme/monokai.css")

script.
	$(document).ready( function (){
		
		var dataTextArea = addCodeMirror( document.getElementById( 'data' ) );
		dynamicForm('#template', function( e, data ) {
			data.data = dataTextArea.getValue();
			delete data[ 'undefined' ];
			e.preventDefault();

			console.log(data);
			$.ajax({
				type: 'PUT',
				url: '/template/' + data.title,
				data: data,
				success: function(data){
						if(data.status){
								alert('Template Created!');
						} else {
								alert(data.error);
						}
				},
				error: function(err){
						console.log(err);
				}
			});
		});
	});
h1 New Template
form#template(method="PUT")
	.form-group
		h3 Title
		input.form-control(type='text' name='title')
		h3 Content
		textarea#data.form-control(name='data' rows='15')
		input.btn.btn-primary(type='submit')

